.usersSection{
    margin: 0 auto;
    width: 880px;
}

.usersWrapper{
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.usersFollow img{
    width: 60px;
}

.usersFollow button{
    display: block;
    margin: 0 auto;
}

.usersInfo{
    display: flex;
    justify-content: space-between;
    width: 450px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    margin-left: 20px;
}

.usersLocation p:first-of-type{
    padding-bottom: 20px;
}

.usersName p:first-of-type{
    padding-bottom: 20px;
}

.pageCount{
    width: 560px;
    height: 35px;
    border: 1px solid #C1C1C1;
    overflow: auto;
}

.pageCount span{
    padding-left: 10px;
    cursor: pointer;
}

.selectedPage{
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
}