.nav{
    grid-area: n;
}

.nav li:not(:first-of-type){
    margin-top: 10px;
}

.nav li{
    list-style: none;
}

.nav a{
    color: black;
    font-size: 30px;
    text-decoration: none;
}

.linkTabs{
    color: green !important;
}